@charset "UTF-8";




body
{
color: #ffff00;
font-size: small;
}

ul{
background: -moz-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);/* FF3.6-15 */
background: -webkit-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%); /* Chrome10-25,Safari5.1-6 */
background:-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);
filter: progid:DXImageTransform.Micro
}

ul li{

color:white;
background: -moz-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);/* FF3.6-15 */
background: -webkit-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%); /* Chrome10-25,Safari5.1-6 */
background:-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);
filter: progid:DXImageTransform.Micro

}


ul li a{
background: -moz-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);/* FF3.6-15 */
background: -webkit-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%); /* Chrome10-25,Safari5.1-6 */
background:-radial-gradient(right bottom, maroon 15%, gray 45%, #E8B000 90%);
filter: progid:DXImageTransform.Micro

}


#baner
{
background-image: url("baner.jpg");
}


#tlo
{
 background-image: url("backgrounds/bg5.png");
 background-attachment: fixed;
 background-repeat:repeat;
 background-position:top;
 background-origin: content-box;

}


#pasekgorny
{
font-size:1.4em;
border-bottom:2px solid black;
}

#tresc
{

 border: 8px groove;

}

#placeholder
{
 border: 8px groove;

}

#stopka
{
 border: 8px groove;
 
}

.signup
{
background-color: #ffff9d;
  
  
}

.signup a
{
 color:brown;
}

